* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #141414;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.container {
	width: 100%;
	max-width: 400px;
	padding: 20px;
	text-align: center;
}

header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.back-button {
	font-size: 24px;
	background: none;
	border: none;
	color: #fff;
	cursor: pointer;
	margin-right: auto;
}

h1 {
	font-size: 30px;
	font-weight: 500;
	margin-right: 150px;
}

.transfer-options {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 20px;
}

.option-button {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 15px;
	background-color: #333;
	border: none;
	border-radius: 8px;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.option-button:hover {
	background-color: #444;
}

.icon {
	font-size: 24px;
	margin-right: 10px;
}

.note {
	font-size: 14px;
	color: #aaa;
	margin-top: 20px;
}

.highlight {
	color: #d1b88f;
	font-weight: bold;
}

.footer {
	margin-top: 120px;
}

.navigation {
	display: flex;
	justify-content: space-evenly;
}

.nav-button {
	background-color: #141414;
	border: none;
	padding: 20px;
	cursor: pointer;
}
